<%- include("partials/header.ejs") %>

<div class="flex__body">
  <div class="container">
    <div class="heading">
      <% if (locals.pageTitle){ %>
      <h1><%= pageTitle %></h1>
      <% } %>
    </div>
    <div class="todo">
      <!-- rendering the items -->
      <% if (locals.newItem) {%>
        <% newItem.forEach(eachItem => { %>
          <form action="/delete"method="post">
            <div class="item">
              <!-- onchange will submit the form data on toggling of the checkbox condition -->
              <input type="checkbox" name="checkbox" value="<%= eachItem._id %>" onChange="this.form.submit()"/>
              <input type="hidden" name="title" value="<%= pageTitle %>"/>
              <p class="checkbox__label"><%= eachItem.name %></p>
            </div>
          </form>
        <% }); %>
      <% } else {%>
        <% customItem.forEach(listName => { %>
          <form action="/deleteList"method="post">
          <div class="item customItem">
            <a href="/new/<%= listName %>" style="color: black;"><p class="checkbox__label" style="margin: 8px;"><%= listName %></p></a>        
            <button type="submit" name="submit" value="<%= listName %>" class="listBtn"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </form> 
        <% }); %>
      <% } %>
          
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" />
        <button type="submit" name="button" value="<%= pageTitle %>"class="addBtn">+</button>
      </form> 
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
